body {
    -ms-touch-action: none;font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #2c3e50;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: height 0.3s ease; /* Add transition for smooth height changes */
}

.logo img {
  height: 50px;
  width: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #e74c3c;
}
.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.video-item {
  width: 150px;
  margin: 20px 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
}

.video-item img {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.iconArea{
	position:fixed;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 20px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 5px 0px;
	z-index: 1;
}
.iconArea a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 15px;
}
.iconArea a i{
	color:rgba(39,39,39,0.80);
}
 

.iconArea a:hover .fa-facebook-f{
	color: #3b5998;
}
.iconArea a:hover .fa-twitter{
	color: #00acee ;
}
.iconArea a:hover .fa-instagram{
	color:  #3f729b ;
}
.iconArea a:hover .fa-youtube{
 
	color: 	#FF0000;
}

.section1{
  position:absolute;
  left:15%;
  top: 50%;
  transform: translate(-15%,-50%);
}
.section1 img {
  height: 300px;